<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Chat Seguro</title>
  <link rel="stylesheet" href="/css/chat.css" />
</head>
<body>

  <header>Chat Seguro - Usuário logado: {{user}}</header>

  <input type="hidden" id="user-logado" value="{{user}}" />

  <div id="chat-container"></div>


  <div id="input-area">
  <select id="destinatario-select"></select>
  <input id="input-message" type="text" placeholder="Digite sua mensagem" />
  <button id="send-btn">Enviar</button>
  <button id="fetch-btn">Buscar mensagens</button>
</div>


  <script src="/js/chat.js"></script>
</body>
</html>
