<div class="main-login">
    <div class="left-login">
        <h1>Faça login</h1>
        <img src="images/Safe.gif" class="left-login-img" alt="safe">
    </div>
    <div class="right-login">
        <div class="card-login">
            <h1>LOGIN</h1>
            <form action="/login" method="post">
                <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="login" placeholder="Usuário">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <button type="submit" class="btn-login">Entrar</button>
            </form>
        </div>
    </div>
</div>